@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 10vh;
}

.menu{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 10vh;
}

ul{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 135%;
}

a{
    text-decoration: none;
}

li{
    margin-left: 40px;
}

li a:hover{
    color:#57196d ;
    font-weight: bold;
}

.busca{
    width: 11vw;
    height: 3vh;
    border: 3px solid #9767A9;
    border-radius: 15px;
}

.lupa{
    position: relative;
    top: 10%;
    right: 45%;
}

.barraBusca{
    position: relative;
    bottom: 10%;
    left: 20%;
    width: 5vw;
    height: 2vh;
    border: none;
    font-size: 16px;
}

.redes img{
    margin-left: 25;
}

.cabeludo{
    width: 99vw;
    height: 100vh;
    background-image: url(Imagens/cabeludo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.enunciado1{
    width: 25vw;
    height: 25vh;
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 350%;
    color: white;
    font-family: 'Playfair Display', serif;
}

.enunciado2{
    width: 25vw;
    height: 25vh;
    font-size: 200%;
    color: white;
    position: absolute;
    top: 52%;
    right: 16%;
}

.dicas{
    width: 100%;
    height: 40%;
    background-color: #9767A9;
    position: relative;
    top: 90%;
}

.passos{
    width: 55%;
    height: 30%;
    position: relative;
    left: 8%;
    color: white;
    font-size: 400%;
    font-family: 'Playfair Display', serif;
}

.enunciadoPassos{
    color: white;
    position: relative;
    left: 58%;
    bottom: 25%;
    width: 40%;
    font-size: 200%;
}

.passo1{
    width: 43%;
    height: 90%;
    color: white;
    position: absolute;
    top: 125%;
    left: 8%;
    display: flex;
    flex-direction: column;
}

.passo1 img{
    width: 100%;
    height: 75%;
}

.passo1titulo{
    background-color: #9767A9;
    width: 70%;
    height: 18%;
    position: relative;
    bottom: 18%;
    left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    padding: 5%;
}

.passo1enunciado{
    background-color: #9767A9;
    width: 70%;
    height: 50%;
    font-size: 150%;
    position: relative;
    bottom: 18%;
    left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.passo2{
    width: 43%;
    height: 90%;
    color: white;
    position: absolute;
    top: 165%;
    left: 53%;
    display: flex;
    flex-direction: column;
}

.passo2 img{
    width: 100%;
    height: 75%;
}

.passo2titulo{
    background-color: #9767A9;
    width: 70%;
    height: 18%;
    position: relative;
    bottom: 22%;
    left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    padding: 5%;
}

.passo2enunciado{
    background-color: #9767A9;
    width: 70%;
    height: 50%;
    font-size: 150%;
    position: relative;
    bottom: 25%;
    left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.passo3{
    width: 43%;
    height: 90%;
    color: white;
    position: absolute;
    top: 235%;
    left: 8%;
    display: flex;
    flex-direction: column;
}

.passo3 img{
    width: 100%;
    height: 75%;
}

.passo3titulo{
    background-color: #9767A9;
    width: 70%;
    height: 18%;
    position: relative;
    bottom: 22%;
    left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    padding: 5%;
}

.passo3enunciado{
    background-color: #9767A9;
    width: 70%;
    height: 50%;
    font-size: 150%;
    position: relative;
    bottom: 22%;
    left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.passo4{
    width: 43%;
    height: 90%;
    color: white;
    position: absolute;
    top: 269%;
    left: 53%;
    display: flex;
    flex-direction: column;
}

.passo4 img{
    width: 100%;
    height: 75%;
}

.passo4titulo{
    background-color: #9767A9;
    width: 70%;
    height: 18%;
    position: relative;
    bottom: 4%;
    left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    padding: 5%;
}

.passo4enunciado{
    background-color: #9767A9;
    width: 70%;
    height: 50%;
    font-size: 150%;
    position: relative;
    bottom: 4%;
    left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.passo5{
    width: 43%;
    height: 90%;
    color: white;
    position: absolute;
    top: 337%;
    left: 8%;
    display: flex;
    flex-direction: column;
}

.passo5 img{
    width: 100%;
    height: 75%;
}

.passo5titulo{
    background-color: #9767A9;
    width: 70%;
    height: 18%;
    position: relative;
    bottom: 22%;
    left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    padding: 5%;
}

.passo5enunciado{
    background-color: #9767A9;
    width: 70%;
    height: 50%;
    font-size: 150%;
    position: relative;
    bottom: 24%;
    left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.passo6{
    width: 43%;
    height: 90%;
    color: white;
    position: absolute;
    top: 380%;
    left: 53%;
    display: flex;
    flex-direction: column;
}

.passo6 img{
    width: 100%;
    height: 75%;
}

.passo6titulo{
    background-color: #9767A9;
    width: 70%;
    height: 18%;
    position: relative;
    bottom: 10%;
    left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    padding: 5%;
}

.passo6enunciado{
    background-color: #9767A9;
    width: 70%;
    height: 50%;
    font-size: 150%;
    position: relative;
    bottom: 13%;
    left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.passo7{
    width: 43vw;
    height: 90vh;
    color: white;
    position: absolute;
    top: 448%;
    left: 8%;
    display: flex;
    flex-direction: column;
}

.passo7 img{
    width: 42,5vw;
    height: 75vh;
}

.passo7titulo{
    background-color: #9767A9;
    width: 30vw;
    height: 18vh;
    position: relative;
    bottom: 22%;
    left: 15%;
    font-family: 'Playfair Display', serif;
    font-size: 250%;
    padding: 5%;
}

.passo7enunciado{
    background-color: #9767A9;
    width: 30vw;
    height: 50vh;
    font-size: 150%;
    position: relative;
    bottom: 25%;
    left: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.cacho{
    width: 29%;
    height: 10%;
    position: absolute;
    top: 500%;
    left: 60%;
}

.fotosFinais{
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 548%;
}

.grupo1{
    width: 23vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 8%;
}

.grupo2{
    width: 16vw;
    height: 97vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    left: 9%;
}

.grupo2 img{
    width: 15vw;
}

.grupo3{
    width: 14vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 9%;
}

.img6{
    width: 14vw;
    height: 68vh;
}

.img7{
    width: 14vw;
    height: 27vh;
}

.grupo4{
    width: 18vw;
    height: 97vh;
    position: relative;
    left: 10%;
}

.grupo4 img{
    width: 17vw;
    height: 97vh;
}

.grupo5{
    width: 14vw;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    left: 10%;
}

.grupo5 img{
    width: 15vw;
}

footer{
    width: 100%;
    height: 10vh;
}

.menuBaixo{
    background-color: #9767A9;
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 650%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pLayout{
    width: 57%;
    color: white;
    position: relative;
    left: 4%;
}

.pFooter{
    display: flex;
    align-items: center;
    font-size: 1.8vh;
    color: white;
}

.imgFooter{
    width: 15vh;
    display: inline-flex;
}

.imgFooter1{
    width: 15vh;
    display: inline-flex;
    flex-direction: row-reverse;
}


.imgSeta{
    width: 4vh;
}

.imgFooter:hover{
    cursor: pointer;
    background-color: #a484af;
    opacity: 0.99;
    transform: scale(1.1);
}

.imgFooter1:hover{
    cursor: pointer;
    background-color: #a484af;
    opacity: 0.99;
    transform: scale(1.1);
}

.redesFooter{
    display: none;
}

.imagens{
    position: relative;
    left: 3%;
}

